canvas {
  display: block;
  border: 1px solid black;
  max-height: calc(100vh - 120px);
  max-width: 95vw;
  margin: auto;

}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
 }